.container {
  width: 100%;
  padding: 0.5em;
  margin: auto;
  font-size: 16px;
  line-height: 1.5em;
  word-wrap: break-word;
  text-transform: none;
}
.icon {
  margin: 0 auto; 
  text-align: center;
}
.title {
  text-align: center;
  font-size: 1.75rem;
  font-weight: 550;
  padding: 2rem;
  color: var(--color-text-primary);
  text-transform: uppercase;
}
.description {
  color: var(--color-text-primary);
  text-align: center;
}
.subtitle {
  text-align: center;
}
.sub_section {
  padding-left: 1rem;
}
.ul_list {
  color: var(--color-text-primary);
}
.more {
  width: 300px;
  margin: 0 auto 1em auto;
  text-align: center;
  color: var(--primary_color);
}
.more:hover {
  color: var(--secondary_color); /* Optional: Add hover effect */
}

/* 550px - Small tablets */
@media (min-width: 550px) {
  .container {
    max-width: 999px;
    height: auto;
  }
  .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25%;
  }
  .title {
    font-size: 2rem;
  }
}

/* ✅ 768px - Medium tablets */
@media (min-width: 768px) {
  .container {
    height: auto;
  }
  .title {
    margin-top: 2.5em;
    font-size: 2.25rem;
    font-weight: 550;
    line-height: 1.5em;
  }
  .subtitle {
    text-align: left;
    margin: auto;
  }
  .more {
    position: relative;
    left: -20;
  }
}

/* 1025px - Laptops and up */
@media (min-width: 1025px) {
  .container {
    width: 1100px;
  }
  .ul_list {
    list-style-type: disc;
    margin-left: 150px;
  }
}

/* 1281px - Large desktops */
@media (min-width: 1281px) {
  .container {
    max-width: 1200px;
  }
  .title {
    margin-top: 70px;
    margin-bottom: 40px;
  }
}
