.container {
  width: 100%;
  padding: 0.5em;
  margin: auto;
  font-size: 16px;
  line-height: 1.5em;
  word-wrap: break-word;
  text-transform: none;
}
.title {
  text-align: left;
  font-weight: 500;
  font-size: 25px;
  line-height: 1.5em;
  margin: 2em 0 1em 0;
  color: var(--primary_color);
  text-transform: uppercase;
}
.more {
  width: 300px;
  margin: 0 auto 1em auto;
  text-align: center;
  color: var(--primary_color);
}

.more:hover {
  color: var(--secondary_color); /* Optional: Add hover effect */
}

/* 550px - Small tablets */
@media (min-width: 550px) {
  .container {
    max-width: 999px;
    height: auto;
  }
}

/* ✅ 768px - Medium tablets */
@media (min-width: 768px) {
  .container {
    padding: 1em;
    height: auto;
  }

  .title {
    font-size: 27px;
    margin-top: 2.5em;
  }
  .more {
    position: relative;
    left: -20;
  }
}

/* 1025px - Laptops and up */
@media (min-width: 1025px) {
  .container {
    /* height: 60vh; */
    padding: 0;
  }
  .title {
    font-weight: 600;
    font-size: 28px;
    margin-top: 3em;
  }
}

/* 1281px - Large desktops */
@media (min-width: 1281px) {
  .container {
    /* height: 40vh; */
    max-width: 1200px;
  }
  .title {
    font-size: 30px;
    margin-top: 70px;
    margin-bottom: 40px;
  }
}
