.container {
  /* padding-bottom: 50px; */
  background-color: var(--secondary_color);
  margin: auto;
  padding: 1em;
  line-height: 1.5em;
  font-size: 1.1em;
  word-wrap: break-word;
  text-transform: none;
  /* border: 2px solid red; */
}
.title {
  padding-top: 1rem;
  font-weight: 500;
  font-size: 25px;
  line-height: 1.5em;
  text-transform: uppercase;
}
.icon {
  display: block;
  text-align: center;
  padding: 16px;
  border-radius: 4%;
  margin-bottom: 16px;
}
.description {
  font-size: 16px;
  margin-bottom: 4em;
}
@media (min-width: 550px) {
  .container {
    height: auto;
    text-align: left;
    max-width: 999px;
  }
  .title {
    text-align: left;
  }
  .icon {
    display: block;
  }

  .description {
    margin-bottom: 4em;
  }
}
/* Desktop */
@media (min-width: 1025px) {
  .container {
    /* height: auto; */
    max-width: 999px;
  }
  .title {
    text-align: left;
    margin-bottom: -20px;
    padding-top: 5rem;
    font-weight: 600;
    font-size: 30px;
    line-height: 1.5em;
    text-transform: uppercase;
  }
  .icon {
    display: block;
    height: 150px;
  }
}
/* Desktop */
@media (min-width: 1281px) {
  .container {
    /* height: auto; */
    max-width: 1200px;
  }
  .title {
    font-size: 25px;
    font-weight: 600;
    margin: 2rem 0 1rem 0;
    margin-left: 0px;
  }
  .item_title {
    margin-bottom: 10px;
  }
}
