/* Base styles (Mobile first) */
.container {
  max-width: 999px;
  margin: auto;
  padding: 1em;
  line-height: 1.5em;
  word-wrap: break-word;
  text-transform: none;
}
.models {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 2em;
}
.title {
  font-size: 1.75rem;
  font-weight: 500;
  color: var(--color-text-primary);
  text-align: center;
  align-items: center;
}
.model_item {
  width: 100%;
  padding: 1.2rem;
  box-sizing: border-box;
}
.model_link {
  display: block;
  color: inherit;
  text-decoration: none;
}
.model_title {
  font-size: 18px;
  font-weight: 500;
  margin: 20px 0 10px;
}
.model_text,
.model_description,
.model_visit {
  text-align: center;
  margin: 10px 0;
  color: var(--color-text-muted);
}
.model_description {
  line-height: 1.5;
}
.view_sevices {
  display: flex;
}
.cta_link {
  width: 250px;
  text-align: center;
  font-size: large;
  font-weight: 600;
  padding: 1em;
  cursor: pointer;
  box-shadow: none;
  color: white;
  text-decoration: none;
  justify-content: center;
}

/* Small Tablet (≥576px) */
@media (min-width: 576px) {
  .models {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    text-align: left;
  }
  .title {
    font-size: 2rem;
    margin: 20px 0;
    text-transform: uppercase;
  }

  .model_text,
  .model_description,
  .model_visit {
    text-align: center;
    align-items: center;
  }
  .view_services {
    display: flex;
    justify-content: center;
  }
  .cta_link {
    width: 200px;
  }
}

/* Medium Tablet (≥768px) */
@media (min-width: 768px) {
  .container {
    padding: 2em;
    display: flex;
    min-height: 50vh;
  }
  .models {
    justify-content: center;
  }
  .model_title {
    font-size: 20px;
    text-align: center;
  }
}

/* Laptop (≥1024px) */
@media (min-width: 1024px) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: auto;
  }
  .models {
    max-width: 999px;
    margin: auto;
    gap: 2em;
  }
  .title {
    text-align: left;
    font-weight: bold;
    font-size: 2.25rem;
    text-transform: uppercase;
    margin-top: 25px;
    margin-bottom: 30px;
  }
  .model_link {
    color: black;
  }
  .cta_link:hover {
    font-weight: bold;
    background-color: var(--color-secondary);
    text-align: center;
  }
}

/* Desktop (≥1280px) */
@media (min-width: 1280px) {
  .container {
    max-width: 1200px;
    height: auto;
  }
  .cta_link {
    font-size: large;
    font-weight: 650;
    padding: 1em;
    border-radius: 4px;
  }
}
