.cta_link {
  width: 200px;
  font-size: large;
  font-weight: 600;
  padding: 1em;
  cursor: pointer;
  box-shadow: none;
  background-color: #d4b483;
  color: black;
  text-decoration: none;
}
@media (min-width: 769px) {
  .cta_link:hover {
    background-color: #4f7f73;
    color: white;
    font-weight: bold;
  }
}
@media (min-width: 1281px) {
  .cta_link {
    font-size: large;
    margin-bottom: 100px;
    font-weight: 650;
    padding: 1em;
    border-radius: 4px;
  }
}
