/* Base Styles (Mobile First) */
.main {
  background-color: var(--color-primary);
  color: var(--color-primary-contrast);
  position: relative;
  min-height: 45vh;
  display: flex;
  align-items: center;
}

.hero_section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
}

.left_side {
  padding: 1.5rem 1rem;
  max-width: 36rem;
}

.strapline {
  max-width: 30ch;
  margin: 0 auto 4rem;
  padding: 0;
  font-size: 1.35rem;
  line-height: 1.45;
  text-align: center;
  color: #fff;
}

.cta_button {
  display: flex;
  justify-content: center;
}

/* Hide hero image on mobile */
.image_hero {
  display: none;
}
/* Tablet Portrait (≥550px) */
@media (min-width: 550px) {
  .hero_section {
    flex-direction: row;
    justify-content: space-between;
    padding: 2em;
    height: auto;
  }
  .left_side {
    text-align: left;
    flex: 1 1 50%;
    padding-right: 1em;
  }
  .image_hero {
    display: block;
    flex: 1 1 45%;
    max-width: 330px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 12rem;
  }
  .strapline {
    font-size: 21px;
    text-align: left;
  }
}

/* Tablet Landscape & Small Laptops (≥768px) */
@media (min-width: 768px) {
  .hero_section {
    flex-direction: row;
    text-align: left;
    padding: 4em;
  }
  .strapline {
    font-size: 23px;
    font-weight: 600;
    float: left;
    margin-top: -50px;
  }
  .hero_image {
    display: block;
  }
}

/* Laptops & Desktops (≥1025px) */
@media (min-width: 1025px) {
  .hero_section {
    height: auto;
    max-width: 1200px;
    margin: auto;
  }
  .left_side {
    padding-top: 0rem;
    padding-bottom: 2rem;
  }
  .strapline {
    line-height: 1.6;
    width: 550px;
    margin-bottom: 50px;
  }
  .image_hero {
    position: absolute;
    left: 750px;
    top: -100px;
  }
}

/* Large Desktops (≥1281px) */
@media (min-width: 1281px) {
  .hero_section {
    padding: 8em 2em 10em 0em;
    height: auto;
  }
  .left_side {
    padding-top: 2rem;
    padding-bottom: 0rem;
  }
  .image_hero {
    left: 1000px;
    top: 70px;
  }
  .strapline {
    margin-bottom: 75px;
    margin-top: 0px;
  }
}
