/* Base Styles (Mobile First) */
.main {
  background-color: #252324;
  position: relative;
  /* border: 2px solid red; */
}
.hero_section {
  display: flex;
  flex-direction: column;
  padding: 2em;
  overflow: hidden;
}
.left_side {
  text-align: center;
  line-height: 1.6em;
  font-size: 1.1em;
  word-wrap: break-word;
}
.strapline {
  font-size: 21px;
  font-weight: bold;
  color: white;
  margin: 25px 0;
}
.cta_button {
  margin: auto;
  text-align: center;
}
.image_hero {
  display: none;
}

/* Tablet Portrait (≥550px) */
@media (min-width: 550px) {
  .hero_section {
    flex-direction: row;
    justify-content: space-between;
    padding: 2em;
    height: auto;
  }
  .left_side {
    text-align: left;
    flex: 1 1 50%;
    padding-right: 1em;
  }
  .image_hero {
    display: block;
    flex: 1 1 45%;
    max-width: 330px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 12rem;
  }
  .strapline {
    font-size: 24px;
    text-align: left;
  }
}

/* Tablet Landscape & Small Laptops (≥768px) */
@media (min-width: 768px) {
  .hero_section {
    padding: 4em;
  }
  .strapline {
    font-size: 28px;
    font-weight: 600;
  }
}

/* Laptops & Desktops (≥1025px) */
@media (min-width: 1025px) {
  .hero_section {
    height: auto;
    max-width: 1200px;
    margin: auto;
    /* margin-bottom: 25px; */
  }
  .left_side {
    flex-basis: 60%;
    padding-top: 4rem;
  }
  .strapline {
    font-size: 28px;
    line-height: 1.6;
    width: 600px;
    margin-bottom: 50px;
  }
  .image_hero {
    position: absolute;
    flex-basis: 35%;
    left: 840px;
  }
}

/* Large Desktops (≥1281px) */
@media (min-width: 1281px) {
  .hero_section {
    padding: 8em 2em 10em 0em;
    height: auto;
  }
  .image_hero {
    flex-basis: 15%;
    left: 1040px;
    top: 145px;
  }
  .strapline {
    margin-bottom: 75px;
  }
}
