.main {
  display: flex;
  background-color: var(--color-primary);
  color: var(--color-primary-contrast);
  justify-content: center;
}
.navbar {
  width: 100%;
}
.title {
  position: relative;
  top: -44px;
  left: 20px;
}
.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  cursor: pointer;
}
.navbar li {
  flex-basis: 48%;
  margin-bottom: 0.5rem;
}
.navbar li:first-child {
  flex-basis: 100%;
  text-align: center;
  margin-bottom: 1.2em;
}
.navbar a {
  text-decoration: none;
  font-size: 1.2rem;
  display: block;
  color: var(--color-primary);
  background-color: var(--color-primary-contrast);
  padding: 0.5rem;
  border-radius: 5px;
  text-align: center;
  box-shadow: 0 4px 2px -2px rgb(228, 227, 227);
}
.navbar li:first-child a {
  background-color: transparent;
  color: var(--color-primary-contrast);
  font-weight: 400;
  font-size: 30px;
}

@media (min-width: 550px) {
  .logo {
    position: relative;
    top: -25px;
  }
  .title {
    top: -75px;
    left: -40px;
  }
  .navbar ul {
    gap: 1em;
    max-width: 1200px;
    margin: auto;
  }
  .navbar li {
    flex-basis: auto;
  }
  .navbar a {
    text-decoration: none;
    font-size: 1.2rem;
    display: block;
    background-color: transparent;
    padding: 1em;
    text-align: center;
    box-shadow: 0 3px 2px -2px white;
  }
  .navbar li:first-child a {
    color: var(--color-primary-contrast);
    border: none;
    box-shadow: none;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: -1em;
  }
}

@media (min-width: 768px) {
  .navbar ul {
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
  .navbar li {
    flex-basis: auto;
  }
}

@media (min-width: 1025px) {
  .logo {
    position: relative;
    top: 0px;
    margin-left: 50px;
  }
  .title {
    position: relative;
    top: 0px;
    left: 25px;
  }
  .navbar ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    padding-top: 15px;
    gap: 50px;
    font-weight: 500;
  }
  .navbar a {
    display: block;
    color: var(--color-primary-contrast);
    text-align: center;
    box-shadow: none;
  }
  .navbar a:hover {
    background-color: transparent;
    text-decoration: underline;
    text-underline-offset: 1em;
    text-decoration-thickness: 2.5px;
    transition: 150ms;
  }
  .navbar li:first-child {
    margin-top: -10px;
    margin-right: auto;
    margin-left: -20px;
    flex-basis: auto;
  }
  .ul_links {
    padding-top: 10px;
  }
}
