.container {
  max-width: 1200px;
  margin: auto;
  padding: 1em;
}

.title {
  text-align: left;
  font-weight: bold;
  font-size: 25px;
  line-height: 1.5em;
  margin-left: 0px;
  margin-bottom: 1em;
  color: var(--primary_color);
  /* font-family: "Merriweather", serif; */
  text-transform: uppercase;
}
