.container {
  background-color: var(--secondary_color);
  margin: auto;
  padding: 1em;
  text-align: center;
}
.title {
  font-size: 1.75rem;
  text-transform: uppercase;
  color: var(--color-text-primary);
  margin-top: 1rem;
}
.icon {
  display: block;
  text-align: center;
  padding: 1rem;
  margin-bottom: 0.5rem;
}
.item_title {
  color: var(--color-text-primary);
}
.description {
  margin-bottom: 2em;
  color: var(--color-text-muted);
}
.service_cta {
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 3rem;
}
@media (min-width: 550px) {
  .container {
    height: auto;
    text-align: left;
    max-width: 999px;
    padding-bottom: 2rem;
  }
  .title {
    text-align: center;
    font-size: 2rem;
  }
  .icon {
    display: block;
  }
  .item_title {
    text-align: center;
    margin-bottom: 12px;
  }
  .description {
    margin-bottom: 2em;
    text-align: center;
  }
}
/* Desktop */
@media (min-width: 1025px) {
  .container {
    height: auto;
    max-width: 999px;
    padding-bottom: 4rem;
  }
  .title {
    font-weight: bold;
    font-size: 2.25rem;
    text-transform: uppercase;
    margin-top: 25px;
    margin-bottom: 30px;
  }
  .icon {
    display: block;
    margin-bottom: 35px;
  }
  .service_cta {
    margin-top: 2.5rem;
  }
}
/* Desktop */
@media (min-width: 1281px) {
  .container {
    height: auto;
    max-width: 1200px;
    padding-bottom: 4rem;
  }
  .title {
    padding-top: 2rem;
    margin-left: 0px;
  }
}
